*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.header{
    position: absolute;
    height: 50px;
    width: 100%;
    background-color:#eb081a;
    z-index: 5;
}
.sidebar{
    position: absolute;
    width: 100%;
    background-color: #742624;
    height:100vh;
    z-index: 4;
    padding-top: 50px;
}
.sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar ul li{
    padding: 20px 10px;
    border-bottom: 1px solid #ffffff;
}
.sidebar ul li a{
    color: #ffffff;
    text-decoration: none;
}
.main-content{
    padding-top: 50px;
    background-attachment: fixed;
}
.container-fluid{
    padding-top: 10px;
}
.col-lg-3{
    padding-top: 10px;
}
@media screen and (min-width:576px){
    .sidebar{
        width: 50px;
    }
    .sidebar ul li{
        text-align: center;
    }
    .sidebar ul li span:nth-child(2){
        display: none;
    }
    .sidebar ul li i{
        font-size: 30px;
    }
    .main-content{
        margin-left: 50px;
    }
}
@media (max-width:575.98px){
    .sidebar{
        width: 50px;
    }
    .sidebar ul li span:nth-child(2){
        display: none;
    }
    .sidebar ul li{
        text-align: left;
    }
    .sidebar ul li i{
        font-size: 20px;
    }
    .main-content{
        margin-left: 50px;
    }
}
@media (min-width:768px){
    .sidebar{
        width: 100px;
    }
    .sidebar ul li span:nth-child(2){
        display: none;
    }
    .sidebar ul li{
        text-align: center;
    }
    .sidebar ul li i{
        font-size: 30px;
    }
    .main-content{
        margin-left: 100px;
    }
}
@media (min-width:992px){
    .sidebar{
        width:200px;
    }.sidebar ul li{
        text-align: left;
    }
    .sidebar ul li span:nth-child(2){
        display:inline;
    }
    .sidebar ul li i{
        font-size: 20px;
    }
    .main-content{
        margin-left: 200px;
    }
}
@media (min-width:1200px){
    .sidebar{
        width: 200px;
    }
    .sidebar ul li{
        text-align: left;
    }
    .sidebar ul li span:nth-child(2){
        display:inline;
    }
    .sidebar ul li i{
        font-size: 20px;
    }
    .main-content{
        margin-left: 200px;
    }
}